<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property resource="conversionAppConfig.properties" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/slac-gi-conversion.log</file>
        <append>true</append>
    
        <encoder>
            <pattern>%-30(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n</pattern>
        </encoder>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archives/slac-gi-conversion.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
             
    </appender>

    <logger name="com.compname.lob" level="${LOG_LEVEL}"/>
	
    <root level="ERROR">
        <appender-ref ref="FILE" />
    </root>
</configuration>

